Options +FollowSymlinks
RewriteEngine on
RewriteRule	https://app-web-design-mai-2022.herokuapp.com/accueil.html$ pages/vue/accueil.php [L]
RewriteRule	https://app-web-design-mai-2022.herokuapp.com/login.html$ pages/vue/login.php [L]
RewriteRule	https://app-web-design-mai-2022.herokuapp.com/erreur.html$ pages/vue/erreur.php [L]
RewriteRule	https://app-web-design-mai-2022.herokuapp.com/traitement.html$ pages/vue/traitement.php [L]
RewriteRule	https://app-web-design-mai-2022.herokuapp.com/admin.html$ pages/vue/admin.php [L]
RewriteRule	https://app-web-design-mai-2022.herokuapp.com/traitementAdmin.html$ pages/vue/traitementAdmin.php [L]
RewriteRule	https://app-web-design-mai-2022.herokuapp.com/ajouter.html$ pages/vue/ajouter.php [L]
RewriteRule	https://app-web-design-mai-2022.herokuapp.com/modifier.html$ pages/vue/modifier.php [L]
RewriteRule	https://app-web-design-mai-2022.herokuapp.com/traitement2.html$ pages/vue/traitement2.php [L]
RewriteRule https://app-web-design-mai-2022.herokuapp.com/login-erreur.html$  pages/vue/login.php?erreur=$1 [L]
RewriteRule https://app-web-design-mai-2022.herokuapp.com/formulaire-incomplete.html$  pages/vue/ajouter.php?erreur=$1 [L]
RewriteRule ^/?.*-([_a-z0-9]*).html$  pages/vue/fiche.php?id=$1 [L]

