Options +FollowSymlinks
RewriteEngine on
RewriteRule	^accueil.html$ pages/vue/accueil.php [L]
RewriteRule	^login.html$ pages/vue/login.php [L]
RewriteRule	^erreur.html$ pages/vue/erreur.php [L]
RewriteRule	^traitement.html$ pages/vue/traitement.php [L]
RewriteRule	^admin.html$ pages/vue/admin.php [L]
RewriteRule	^traitementAdmin.html$ pages/vue/traitementAdmin.php [L]
RewriteRule	^ajouter.html$ pages/vue/ajouter.php [L]
RewriteRule	^modifier.html$ pages/vue/modifier.php [L]
RewriteRule	^traitement2.html$ pages/vue/traitement2.php [L]
RewriteRule ^login-erreur.html$  pages/vue/login.php?erreur=$1 [L]
RewriteRule ^formulaire-incomplete.html$  pages/vue/ajouter.php?erreur=$1 [L]
RewriteRule ^/?.*-([_a-z0-9]*).html$  pages/vue/fiche.php?id=$1 [L]

